@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body, [class*="css"] {
    font-family: 'Montserrat', 'Helvetica', 'Arial', 'sans-serif';
  }

html, body, [class*="css-hxt7ib e1fqkh3o4"] {
        color: #DCE3E5;
        #line-height: 1.2rem;
      }

html, body, [class*="css-81oif8"] {
        color: #DCE3E5;
        font-size: 12px;
        #line-height: 0.5rem;
            }

html, body, [class*="css-17lntkn"] {
    color: #DCE3E5;
    font-size: 12px;
    #line-height: 0.5rem;
      }
/*
html, body, [class*="css-xm2l1k"] {
          color: #DCE3E5;
          #font-size: 12px;
          #line-height: 0.5rem;
            }



/* Font for the entire webapp
@import url('https://fonts.googleapis.com/css?family=Montserrat');
html, body, [class*="css"] {
    font-family: 'Montserrat', 'Helvetica', 'Arial', 'sans-serif';
  }
/* all size leter sidebar
html, body, [class*="css-81oif8"] {
          color: #DCE3E5;
          font-size: 12px;
              }


/* Select Partner Information Title
html, body, [class*="css-1flmxah"] {
            color: #DCE3E5;}
*/
/*Edit Text

  html, body, h2  {
                font-weight: bold;
                color: #FF37D5;
                #font-size: 32px;
              }
/*Edit Text
              h2 {
                font-weight: bold;
                color: #fff;
                font-size: 24px;
              }
              h3 {
                font-weight: bold;
                color: #fff;
                font-size: 12px;
              }

*/
